@page "/dashboard"

<div class="dashboard-page">
    <div class="dashboard-header">
        <h1 class="start-text">🐾 Djurhälsan Veterinärklinik</h1>
        <p>Trygg och professionell vård för ditt husdjur.</p>
    </div>

    <div class="dashboard-actions">

        <div class="info-card">
            <h3>🕒 Öppettider</h3>
            <p>Måndag - Fredag: 06:00 - 23:00</p>
            <p>Lördag: 07:00 - 20:00</p>
            <p>Söndag: 10:00 - 16:00</p>
        </div>

        <div class="info-card">
            <h3>📞 Kontakt</h3>
            <p>Telefon: 031-123 45 67</p>
            <p>E-post: info@djurhalsan.se</p>
        </div>

        <div class="info-card">
            <h3>📍 Adress</h3>
            <p>Skogsvägen 12</p>
            <p>443 30 Borås</p>
        </div>

    </div>
</div>
